:root {
    /* 
    */
    --secondary-1: rgb(2, 88, 2);
    --secondary-2: rgba(173, 216, 230, 0.781);
    --secondary-3: rgb(71, 55, 9);
    --secondary-4: white;
    --secondary-5: rgba(71, 55, 9, 0.507);

    --head-height: 130px;
    --border-all: 1px ridge var(--secondary-1);
    --search-text-size: 17px;
}

body {
    margin: 0;
    background-image: url("images/591.jpg");
    background-position: repeat;
    font-size: large;
}
h1 {
    font-size: 45px;
    margin: 0;
}

#head {
    height: var(--head-height);
    background-color: var(--secondary-2);
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#island-map {
    border: var(--border-all);
}

.logo {
    height: var(--head-height);
}
.topnav {
    overflow: hidden;
    background-color: var(--secondary-2);
    border-top: var(--border-all);
    border-bottom: var(--border-all);
}
.topnav a.active {
    background-color: var(--secondary-3);
    color: var(--secondary-4);
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: var(--secondary-5);
}
.topnav button[type="submit"] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: var(--search-text-size);
    border: none;
    cursor: pointer;
}
.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: var(--search-text-size);
    border: none;
}
.search {
    float: right;
}
.search.wrapper {
    overflow: hidden;
    display: inline-block;
}

.content {
    margin-left: 7%;
    margin-right: 7%;
    background-color: var(--secondary-2);
    border: var(--border-all);
    padding: 0 2%;
}
.content h2 {
    text-align: center;
}
.content h3 {
    padding-left: 2%;
}
.needs {
    border: var(--border-all);
    padding: 0 2%;
}
.more-info {
    text-align: right;
    padding-bottom: 16px;
}
.more-info a {
    padding: 14px 16px;
    background-color: var(--secondary-3);
    color: var(--secondary-4);
    text-decoration: none;
}
.more-info a:hover {
    background-color: var(--secondary-5);
}
.map {
    padding: 0;
}
.map-head {
    border: var(--border-all);
    overflow: hidden;
}
.map-option {
    float: left;
    padding: 14px 16px;
}
.map-option.wrapper {
    display: inline-block;
}
.check-text {
    display: inline;
    padding-left: 5px;
}
.to-taniti {
    text-align: center;
}
.to-taniti button[type="submit"] {
    background-color: var(--secondary-3);
    color: var(--secondary-4);
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}

input[type="checkbox"] {
    -ms-transform: scale(2);
    -moz-transform: scale(2,2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    padding: 10px;
}

@media screen and (max-width: 980px) {
    :root {
        --head-height: 200px;
        --border-all: 3px ridge var(--secondary-1);
        --search-text-size: 60px;
    }
    body {
        font-size: 60px;
    }
    h1 {
        font-size: 90px;
        margin: 0;
    }


    .topnav {
        /*overflow: hidden;
        background-color: var(--secondary-2);
        border-top: var(--border-all);
        border-bottom: var(--border-all);*/
        text-align: center;
    }    
    .topnav button[type="submit"] {
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: var(--search-text-size);
        border: none;
        cursor: pointer;
    }
    .topnav input[type="text"] {
        padding: 6px;
        margin-top: 8px;
        font-size: var(--search-text-size);
        border: none;
    }
    .search {
        float: none;
    }
    .search.wrapper {
        overflow: hidden;
        display: inline-block;
    }    
    .more-info {
        text-align: center;
        padding-bottom: 16px;
    }
    
    .to-taniti button[type="submit"] {
        background-color: var(--secondary-3);
        color: var(--secondary-4);
        padding: 14px 16px;
        text-decoration: none;
        border: none;
        font-size: 100%;
        margin: 10px;
    }
    
    input[type="checkbox"] {
        -ms-transform: scale(4);
        -moz-transform: scale(4,4);
        -webkit-transform: scale(4);
        -o-transform: scale(4);
        transform: scale(4);
        padding: 10px;
    }
}